<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="caminhoArquivoCor" value="dados\Cor.txt"/>
    <add key="caminhoArquivoMarca" value="dados\Marca.txt"/>
    <add key="caminhoArquivoModelo" value="dados\Modelo.xml"/>
    <add key="caminhoArquivoVeiculo" value="dados\Veiculo.xml"/>

  </appSettings>
</configuration>