<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Veículos</title>  <!--o que aparece na Aba do Navegador-->
</head>
<body>
 <h1>Cadastro de Veículos</h1>
    <hr />
    <form>


    </form>
</body>
</html>
